@model List<UrgencyListViewModel>
@{
    ViewData["Title"] = "Index";
}



@if (Model != null && Model.Count != 0)
{
    <a class="btn btn-sm btn-primary my-2" asp-action="AddUrgency" asp-controller="Urgency">Yeni Aciliyet Ekle</a>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Tanim</th>
                <th>Islem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Description</td>
                    <td><a class="btn btn-sm btn-warning" asp-action="UpdateUrgency" asp-controller="Urgency" asp-route-id="@item.Id">Update</a></td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
<div class="text-center mt-4">
    <p class="lead"> Sistemde Kayıtlı Aciliyet Durumu Bulunamadı</p>
    <a class="btn btn-sm btn-primary my-2" asp-action="AddUrgency" asp-controller="Urgency">Yeni Aciliyet Ekle</a>
</div>
}
