@model GetStatisticsModel

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <h4 class="card-title">Rapor Sayısı</h4>
                    <p class="card-text display-4">@Model.ReportCount</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <h4 class="card-title">Görev Sayısı</h4>
                    <p class="card-text display-4">@Model.WorkCount</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <h4 class="card-title">Okunmamış Bildirim Sayısı</h4>
                    <p class="card-text display-4">@Model.NotifyCount</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-success mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <h4 class="card-title">Tamamlanmamış İş Sayısı</h4>
                    <p class="card-text display-4">@Model.NeedCompleteWorksCount</p>
                </div>
            </div>
        </div>
    </div>
